extends ./layout.pug

block contenido
    div(class="col-md-8 remove-float mx-auto text-center top-space")
        h1 Pug con layouts
        a(href="/registro" class="right-space") registro
        a(href="/login" class="right-space") login