extends ../layout.pug

block contenido
    div(class="container")
        h1 Mis Imagenes
        each imagen in imagenes
            .myborder.p-3.tr
                .row
                    .col-md-10
                        h3= imagen.titulo
                    .col-md-2
                        a(href="/app/imagenes/"+imagen._id+"/edit", class="right-space") Editar
                        form(action="/app/imagenes/"+imagen._id+"?_method=DELETE", method="post"
                            class="link")
                            input(type="submit", value="Eliminar", class="border-0 bg-transparent text-danger")
