extends ../layout.pug

block contenido
    div(class="col-md-8 remove-float mx-auto top-space")
        h1 Subir nueva imagen
        form(action="/app/imagenes", method="post" enctype="multipart/form-data")
            div(class="form-group")
                label(for="title") Titulo
                input(type="text", name="title", id="title", placeholder="Titulo de la imagen",
                        class="form-control")
            div
                label(for="img") Imagen
                input(type="file", name="img", id="img",
                        class="form-control")
            div(class="row s-top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit", value="Subir imagen", class="btn btn-info")