extends ../layout.pug

block contenido
    div(class="container")
        div(class="card")
            img(class="card-img-top" src="../../src/images/"+imagen._id+"."+imagen.ext alt=""+imagen.titulo)
            div(class="card-body")
                h4(class="card-title") #{imagen.titulo}
                p(Class="card-text") Creador: #{imagen.creator.email}